#erros{
    
    padding-top: 15px;
}

.letras {
    width: 20px;
    margin: 5px;
    font-weight: 700;
    transition: 600ms;
}

.entrada{
    display: grid;
}

.padrao {
    border: 1px solid rgba(0, 0, 0, 0.315);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    transition: 600ms;
}

.resultado{
    display: flex;
   
    transition: 600ms;
}

.result{
    border: 1px solid rgba(0, 0, 0, 0.315);
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 1px 1px 3px black;
    
   padding: 5px;

    width: 50%;
    transition: 600ms;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CERTA {
    background-color: green;
border: solid 1px black;
width: 100%;
margin-bottom: 5px;
height: 25px;
transition: 600ms;
}

.ERRADA {
background-color: red;
border: solid 1px black;
width: 100%;
margin-bottom: 5px;
height: 25px;
transition: 600ms;
}

.QUASE {
    background-color: yellow;
border: solid 1px black;
height: 25px;
transition: 600ms;
margin-bottom: 5px;
width: 100%;
}

body {
    margin: 0;
 
    transition: 600ms;
       padding: 0;
   
   display: flex;
   justify-content: center;
   flex-direction: column;
   
   
}

section{
    margin-right: auto;
    margin-left: auto;
}

